//- Core Site Setup
- var siteTitle = 'ZE Solutions'
- var siteDesc = 'Get your car charger installed from £270 with your OLEV Grant'
- var siteLongDesc = siteDesc + ' ' // Leave space at beginning of string
- var siteUrl = ''
- var siteEmail = '' // rememeber to encode http://wbwip.com/wbw/emailencoder.html
- var sitePhone = ''
- var googleAnalyticsID = ''

//- Social
- var twitterHandle = '' // Include @
- var twitterUrl = ''
- var facebookUrl = ''
- var instagramUrl = ''
- var linkedinUrl = ''

//- Assets
- var googleFont = 'https://fonts.googleapis.com/css?family=Montserrat'
- var iconsCDN = 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'
- var imgLoc = 'assets/img/'
- var siteCSS = 'assets/css/main.min.css'
- var criticalCSS = 'assets/css/critical.css'
- var siteJS = 'assets/js/main.min.js'
- var vendorJsSrc = 'assets/js/vendor/vendor.min.js'

