footer.show-bg
  .s1-2
    span.copyright &copy; <span class="js-year"></span> #{siteTitle}. <a class="js-terms" href="#">Terms &amp; Conditions</a>
  .s1-2
    span Website created by <a href="http://wearefountain.com">Fountain.</a>
    //- a(href=twitterUrl): span.ion-social-twitter
    //- a(href=instagramUrl): span.ion-social-instagram
    //- a(href=linkedinUrl): span.ion-social-linkedin

include load-css
script(src=vendorJsSrc)
script(src=siteJS)