header
  .hero
    .hero__item
      span(data-target='#about').js-link About
    .hero__item
      h1: a(href='/', class='logo'): img(src=imgLoc + 'logo.svg', width='200', alt=siteTitle)
    .hero__item
      span(data-target='#contact').js-link Contact
  h2.page-title #{siteDesc}

.js-sticky-header.sticky-header
  .hero
    .hero__item
      span(data-target='#about').js-link About
    .hero__item
      a(href='/'): img(src=imgLoc + 'logo.svg', width='50', alt=siteTitle)
    .hero__item
      span(data-target='#contact').js-link Contact

