@import 'variables'
@import 'mixins'
@import 'jeet'
@import 'nib'

html
  width 100%
  overflow-x hidden

body
  position relative
  margin 0
  padding 0
  background-color site-background
  width 100%
  color text-color
  text-align center
  font-family primary-font
  font-size base-font-size
  font-weight base-font-weight
  line-height base-line-height
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  +below(breakpoint-mobile)
    font-size 16px
  &.no-scroll
    overflow hidden
    @media mobile
      height 100vh
      width 100vw

header
  height 100vh
  background-repeat no-repeat
  background-position center
  background-size cover
  position relative
  z-index 1
  +below(breakpoint-mobile)
    background-size stretch

.hero
  center(800px)
  position relative
  top 50%
  transform translateY(-70%)
  opacity 0
  smooth-transition()
  &.animate
    transform translateY(-50%)
    opacity 1
  .sticky-header &
    center(320px)
    opacity 1
    transform translateY(-50%)
  &__item
    col(1/3)
    min-height 250px
    display flex
    align-items center
    justify-content center
    font-size base-font-size
    text-transform uppercase
    cursor pointer
    span
      link()
    .sticky-header &
      min-height 100px

.page-title
  font-size base-font-size
  text-transform uppercase
  background brand-color
  color site-background
  text-align center
  height 60px
  display flex
  align-items center
  justify-content center
  margin 0
  bottom 0
  width 100%
  position absolute
  font-weight 500
  line-height 1
  +below(breakpoint-mobile)
    height auto
    padding 15px

.show-bg
  background-image header-background