*
  box-sizing border-box

.logo
  img
    +below(breakpoint-mobile)
      width 90px
.sticky-header
  position fixed
  opacity 0
  top -20vh
  left 0
  width 100%
  height 100px
  background site-background
  z-index 10
  text-transform uppercase
  box-shadow 0 5px 5px rgba(0,0,0,0.2)
  smooth-transition()
  &.animate
    top 0
    opacity 1

.wrapper
  center(site-width, 50px)
  +below(breakpoint-mobile)
    padding-left 15px
    padding-right 15px
  img
    max-width 100%

.section
  center(800px)
  padding-top containerWidth = 150px
  padding-bottom containerWidth
  +below(breakpoint-mobile)
    padding-top 75px
    padding-bottom 75px

h3
  background brand-color
  color transparent
  -webkit-background-clip text
  background-clip text
  display inline-block
  font-size base-font-size* 2
  text-transform uppercase
  margin 0 auto 50px
  font-weight 500
  line-height 1.2
  +below(breakpoint-mobile)
    font-size base-font-size + 10
  .product-desc &
    color white

p
  margin 0
  font-weight 400

ul
  margin 0 0 50px
  padding 0
  list-style-position inside

footer
  span(1)
  background brand-color
  color site-background
  font-size base-font-size - 4
  height 60px
  display flex
  align-items center
  justify-content center
  margin 0
  +below(breakpoint-mobile)
    display block
    height auto
    padding 15px
    font-size base-font-size - 6
  a
    color site-background
    link()
    text-decoration none
    &:hover
      color white
      transition all .2s ease-out

.cta
  background brand-color
  border none
  padding 20px
  border-radius 30px
  text-transform uppercase
  font-size base-font-size
  color site-background
  margin 50px 0 0
  line-height 1
  font-weight 500
  cursor pointer
  transition all .3s ease-out
  +below(breakpoint-mobile)
    font-size 16px
    padding 15px 20px
  &:hover
    color white

.product-row
  margin-bottom 50px

.product-img
  background white
  display flex
  align-items center
  justify-content center
  height 700px
  +below(breakpoint-mobile)
    height 350px
    img
      height 200px

.product-desc
  background light-grey
  padding-left 20px
  padding-right 20px
  display flex
  flex-direction column
  align-items center
  justify-content center
  height 700px
  +below(breakpoint-mobile)
    height 480px

.price
  font-weight 500

.hightlight
  background brand-color
  color transparent
  -webkit-background-clip text
  background-clip text

.social
  padding 50px 0
  &__link
    display inline-flex
    align-items center
    justify-content center
    height 50px
    width 50px
    border-radius 50px
    font-size base-font-size* 1.8
    background brand-color
    color site-background
    margin 0 10px
    transition all .3s ease-out
    +below(breakpoint-mobile)
      width 45px
      height 45px
    &:hover
      color white

.eo-logo
  margin-top 20px