//GRID FUNCTION
s-col(n)
  col(n)
  &--stack
    col(n)
    @media mobile
      stack()

link()
  position relative
  &::after
    position absolute
    top 100%
    left 0
    width 100%
    height 1px
    background rgba(255,255,255,0.9)
    content ''
    opacity 0
    transition opacity 0.3s, transform 0.3s
    transform translateY(10px)
  &:hover, &:focus
    &::after
      opacity 1
      transform translateY(0px)
  &--reverse
    &::after
      opacity 1
      transform translateY(0px)
    &:hover, &:focus
      &::after
        opacity 0
        transform translateY(10px)

smooth-transition(s = .4s,  f = 0.2s)
  transition all s cubic-bezier(.52,.01,.16,1) f

