.s1
  span(1)
.s1-2
  span(1/2)
  +below(breakpoint-mobile)
    stack()
    img
      max-width 100%
.col1-2
  col(1/2)
  +below(breakpoint-mobile)
    stack()
    margin-bottom 30px

.tal
  text-align left
.tac
  text-align center
.tar
  text-align right
  @media mobile
    text-align center
