extends templates/layout

block head
  - var currentPage = "Home"
  - var bodyClass = currentPage.replace(/\s+/g, '-').toLowerCase()
  title #{siteTitle} | #{siteDesc}

block content
  .s1
    .section#about
      h3 About
      p Here at ZE Solutions we're much more than other EVSE installation companies. We make what can be daunting switch easy to understand. We talk through your needs, talk through the charging solution and deliver a quality charing solutions.
      button(data-target='#contact').js-link.cta Subscribe to keep updated

  .s1.product-row
    .s1-2.product-img
      img(src=imgLoc + 'prod-1.jpg', alt="3.6KW/7.2KW Mini Charger")
    .s1-2.product-desc
      h3 3.6KW/7.2KW<br>Mini Charger
      ul
        li Compatible with all plug-in vehicles
        li Charge of up to 15/30 RPH (range per hour charged)
        li Charge time of approx 7/3.5 hours
        li Standard charger installation
        li Untethered unit
      p.price Full price: &pound;680/&pound;700
      p.price.hightlight OLEV funded: &pound;180/&pound;200

  .s1.product-row
    .col1-2
      .product-img
        img(src=imgLoc + 'prod-2.jpg', alt="3.6KW/7.2KW Smart Charger")
      .product-desc
        h3 3.6KW/7.2KW<br>Smart Charger
        ul
          li Compatible with all plug-in vehicles
          li Charge of up to 15/30 RPH (range per hour charged)
          li Charge time of approx 7/3.5 hours
          li Standard charger installation
          li Untethered unit
        p.price Full price: &pound;770/&pound;990
        p.price.hightlight OLEV funded: &pound;270/&pound;490
    .col1-2
      .product-img
        img(src=imgLoc + 'prod-2.jpg', alt="11KW/22KW Leisure and Work Charger")
      .product-desc
        h3 11KW/22KW<br>Leisure &amp; Work Charger
        ul
          li Compatible with all plug-in vehicles
          li Charge of up to 50/100 RPH (range per hour charged)
          li Charge time of approx 2/1 hours
          li Standard charger installation
          li Untethered unit
        p.price Full price: &pound;1100
        p.price.hightlight OLEV funded: &pound;600

  .s1
    .section#contact
      h3 Stay in touch
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia itaque numquam doloremque facilis illo laborum id aperiam placeat neque.
      .social
        a(href='mailto:' + siteEmail).social__link: i.ion-email
        a(href=twitterUrl).social__link: i.ion-social-twitter
        a(href=facebookUrl).social__link: i.ion-social-facebook
        a(href=instagramUrl).social__link: i.ion-social-instagram-outline
        a(href=linkedinUrl).social__link: i.ion-social-linkedin-outline
      p Official partner<br>
      a(href="https://www.eocharging.com/", target="_blank"): img(src=imgLoc + 'eo-logo.svg', width="100", alt="EO Charging Logo").eo-logo



